* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body {
    color: #333;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    z-index: 99;
}
.logo {
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}
#cart-icon .cart-item-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    height:20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.shop { 
padding: 100px 9% 30px;
}
.section-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}
.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    flex-wrap: wrap;
}
.product-box .image-box {
    border-radius: 10px;
display: flex;
overflow: hidden;
    }
    .image-box img {
        width: 100%;
      
        transition:  0.3s ease;

    }
    .image-box:hover img {
        transform: scale(1.1);
    }
    .product-box .product-title {
        font-size: 20px;
        margin-top: 10px;
    }
    .product-box .price-and-cart{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .price-and-cart .add-cart {
    padding: 10px;
    background: red;
    border-radius: 6px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    }
    .cart {
        position: fixed;
        top: 0;
        right: -100%;
        width: 360px;
        height: 100%;
        background-color: #f8f8f8;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        padding: 65px 20px 40px;
        z-index: 100;
        overflow: auto;
        transition: 0.5s;
    }
    .cart.active {
        right: 0;
        transition: right 0.3s ease;
    }
    .cart-title {
text-align: center;
font-size: 30px ;
   }
   .cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
   }
   .cart-box img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
   }
   .cart-detail {
    display: grid;
    gap: 8px;
    margin-right: auto;
   }
   .cart-product-title {
    font-size: 16px;
    line-height: 1;
   }
   .cart-price {
    font-weight: 500;
   }
   .cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid #999;
border-radius: 6px;
   }
   .cart-quantity button {
   
    background-color: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
   }
   .cart-quantity .number {
display: flex;
justify-content: center;
align-items: center;
  width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: pointer;
   }
   .cart-remove {
    font-size: 25px;
    cursor: pointer;
   }
   .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 20px;
    font-size: 18px;
   }
.total-price {
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy {
    display: block;
    padding: 10px 30px;
    background-color: red;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}

@media screen and (max-width: 360px) {
    .product-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

    .cart {
        width: 100%;
    }
    
}